---
layout: default
permalink: /blog/
title: "Writing"
author_profile: false
redirect_from:
  - /wordpress/blog-posts/
---

<div class="writing-page">
  <h1>Writing</h1>
  <div class="post-list">
    {% for post in site.posts %}
    <a class="post-row" href="{{ post.url }}">
      <span class="post-title">{{ post.title }}</span>
      <span class="post-date">{{ post.date | date: "%Y.%m.%d" }}</span>
    </a>
    {% endfor %}

    {% for post in site.data.legacy_posts %}
    <a class="post-row" href="/legacy/?src={{ post.file | url_encode }}">
      <span class="post-title">{{ post.title }}</span>
      <span class="post-date">{{ post.date | date: "%Y.%m.%d" }}</span>
    </a>
    {% endfor %}
  </div>
</div>
